<p>servers works!</p>

<p> Server with Id:{{id}}</p>
<p>Add server Name</p>

<!-- two way binding using event binding -->
<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
/> -->

<!-- two way binding -->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<button [disabled]="!allowNewServer" (click)="onCreateServer()">
    Add Server
</button>

@if (serverCreated) {
<p>{{serverName}}</p>
<p>{{serverCreationStatus}}</p>
} @else{
 <p>server was not created</p>
}

<app-success>
</app-success>

<app-warning>
</app-warning>